<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>__oauth_client_id</key>
	<string>6a3be546b9e243ec81ee1d438006a5d8</string>
	<key>__oauth_client_secret</key>
	<string>6212749c344e420c83735b87b33492a6</string>
</dict>
</plist>
