<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vero.gettingstarted.snippettrigger</string>
	<key>connections</key>
	<dict>
		<key>227A616A-D908-4AFB-8EFB-4202701B52D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD3BF041-3A57-445D-85C7-796BFD3F27B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25052730-B804-467E-A3A8-38DE51D2E3C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>204E90FD-ED42-45AB-B8B4-271430E0109D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39B7855B-A3AF-4C5D-AD60-259456782AEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DA4E820-D977-4B3A-A94E-A0040196CAAC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>413C6C1B-BBF4-44E3-AA24-541AC369575F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>227A616A-D908-4AFB-8EFB-4202701B52D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B803AF3-84FD-47F5-8C7D-D9410F47D3B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0B027D6-3488-48A3-89F8-9AC523765E97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50872DDC-6734-4EEB-92D5-684C5BF22F31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D000533A-E92B-4365-B7A0-BF102C500D8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F9DB3BB-652E-479E-82DC-A19A36C8EC6E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50872DDC-6734-4EEB-92D5-684C5BF22F31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DA4E820-D977-4B3A-A94E-A0040196CAAC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F9DB3BB-652E-479E-82DC-A19A36C8EC6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>993AC03B-FCA7-41F5-AC3A-CC0BB3546DF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E040AA08-9CB1-43D7-97D0-A5A94BCB4956</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0B027D6-3488-48A3-89F8-9AC523765E97</key>
		<array/>
		<key>BE368788-3C23-47B3-9EE1-8AFAD8B75888</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25052730-B804-467E-A3A8-38DE51D2E3C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D000533A-E92B-4365-B7A0-BF102C500D8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E52D37CD-04A3-4824-A605-AC50FD2FF1F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2B581D8-4FAD-4429-B5DD-DD5A9BE2C1CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>993AC03B-FCA7-41F5-AC3A-CC0BB3546DF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vero Pepperrell</string>
	<key>description</key>
	<string>Four Snippet Triggers which perform actions, run scripts, allow free text input and selection from a list</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Snippet Triggers - Getting Started</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>2</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>B0B027D6-3488-48A3-89F8-9AC523765E97</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>showtrash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>4B803AF3-84FD-47F5-8C7D-D9410F47D3B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>greetmsg</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>413C6C1B-BBF4-44E3-AA24-541AC369575F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>readonly hour="$(date +%H)"

if [[ "${hour}" -lt '5' ]]; then
  echo -n 'Good night'
elif [[ "${hour}" -lt '12' ]]; then
  echo -n 'Good morning'
elif [[ "${hour}" -lt '17' ]]; then
  echo -n 'Good afternoon'
elif [[ "${hour}" -lt '19' ]]; then
  echo -n 'Good evening'
else
  echo -n 'Good night'
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>227A616A-D908-4AFB-8EFB-4202701B52D9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BD3BF041-3A57-445D-85C7-796BFD3F27B2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtextrtf</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf2759
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
{\*\expandedcolortbl;;\cssrgb\c0\c0\c0\c84706\cname controlTextColor;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\fs26 \cf2 Hello \{query\} - I'm looking for an update on IHR \{clipboard\} for \{cursor\}}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>204E90FD-ED42-45AB-B8B4-271430E0109D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>update</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>BE368788-3C23-47B3-9EE1-8AFAD8B75888</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Paste the update message to the frontmost app</string>
				<key>text</key>
				<string>Start update message with "Hello {query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>25052730-B804-467E-A3A8-38DE51D2E3C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Andrew","arg":"Andrew"},{"title":"Vero","arg":"Vero"},{"title":"Jack","arg":"Sir Jack Harkness"},{"title":"Rose","arg":"Miss Rose Bananapants"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Paste my thank you message signed by one of us</string>
				<key>title</key>
				<string>Name of sender is "{query}"</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>993AC03B-FCA7-41F5-AC3A-CC0BB3546DF5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>That's fantastic!

Thanks,
{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E040AA08-9CB1-43D7-97D0-A5A94BCB4956</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>thanksmsg</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>F2B581D8-4FAD-4429-B5DD-DD5A9BE2C1CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtextrtf</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf2759
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
{\*\expandedcolortbl;;\cssrgb\c0\c0\c0\c84706\cname controlTextColor;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\fs26 \cf2 Hello \{var:aename\} - I've accepted IHR case \{clipboard\} for \{var:merchantname\}.}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E52D37CD-04A3-4824-A605-AC50FD2FF1F1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>AE Name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7DA4E820-D977-4B3A-A94E-A0040196CAAC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>newihr</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>39B7855B-A3AF-4C5D-AD60-259456782AEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Merchant Name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>50872DDC-6734-4EEB-92D5-684C5BF22F31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>merchantname</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D000533A-E92B-4365-B7A0-BF102C500D8E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>aename</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5F9DB3BB-652E-479E-82DC-A19A36C8EC6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This Snippet Trigger example workflow contains 4 types of actions:

1. Triggering a system command
2. Running a script and pasting the output text
3. Requiring you enter free text and pasting the output
4. Choosing from a list and pasting the output

You'll find out more about this feature in the Snippet Trigger object documentation on our website.

Need help with workflows? Pop by the forum (alfredforum.com) if you have any further questions :)</string>
	<key>uidata</key>
	<dict>
		<key>204E90FD-ED42-45AB-B8B4-271430E0109D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>3. The snippet content and dynamically added recipient's name are pasted to the frontmost app.</string>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>227A616A-D908-4AFB-8EFB-4202701B52D9</key>
		<dict>
			<key>note</key>
			<string>2. The script chooses the greeting based on time of day.</string>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>25052730-B804-467E-A3A8-38DE51D2E3C2</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>2. Type the name of your recipient. 

(Argument required, so it's not accidentally left blank)</string>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>39B7855B-A3AF-4C5D-AD60-259456782AEF</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>1. Trigger the workflow with the trigger you've set to \\thanksmsg

(Set the keyword at the top, and the shared prefix is the same as above)</string>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>413C6C1B-BBF4-44E3-AA24-541AC369575F</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>1. Trigger the workflow with the snippet trigger you've set to \\greetmsg</string>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>4B803AF3-84FD-47F5-8C7D-D9410F47D3B2</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>1. Trigger the workflow with the snippet trigger set to \\showtrash</string>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>50872DDC-6734-4EEB-92D5-684C5BF22F31</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>5F9DB3BB-652E-479E-82DC-A19A36C8EC6E</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>7DA4E820-D977-4B3A-A94E-A0040196CAAC</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>993AC03B-FCA7-41F5-AC3A-CC0BB3546DF5</key>
		<dict>
			<key>note</key>
			<string>2. The list contains 4 possible names to choose from, instead of a free text field.</string>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>B0B027D6-3488-48A3-89F8-9AC523765E97</key>
		<dict>
			<key>note</key>
			<string>2. The snippet disappears and the "Show Trash" system command is performed.</string>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>BD3BF041-3A57-445D-85C7-796BFD3F27B2</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>3. The script's content (which sets the time of day) is pasted to the frontmost app.</string>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>BE368788-3C23-47B3-9EE1-8AFAD8B75888</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>1. Trigger the workflow with the snippet trigger you've set to \\hellomsg

(Set the keyword at the top, and the shared prefix further down)</string>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>D000533A-E92B-4365-B7A0-BF102C500D8E</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>E040AA08-9CB1-43D7-97D0-A5A94BCB4956</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>3. The snippet content and sender's name you selected are pasted to the frontmost app.</string>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>E52D37CD-04A3-4824-A605-AC50FD2FF1F1</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>3. The snippet content and dynamically added recipient's name are pasted to the frontmost app.</string>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>F2B581D8-4FAD-4429-B5DD-DD5A9BE2C1CE</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>1. Trigger the workflow with the trigger you've set to \\thanksmsg

(Set the keyword at the top, and the shared prefix is the same as above)</string>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com/help/workflows/triggers/snippet/</string>
</dict>
</plist>
